#body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    z-index: 0;
}

#map{
    height: 100vh;
    width: 100vw;
    z-index: 0;
}

#layerMenu{
    font-size: 14px;
    height: 20em;
    width: 15em;
    position: absolute;
    top: 6vh;
    right: 1em;
    background-color: transparent;
    pointer-events: none;
}

.layerContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 100%;
    right: 0;
    font-size: 12px;
    margin-right: 4px;
    color: white;
}

.layerSelectBox{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: fit-content;
    width: fit-content;
    margin: 0.4em 0.7em 0.4em;
    pointer-events: auto;
    position: relative;
    z-index: 1;
}

.layerDesc{
    color: var(--color-yellow);
    text-shadow: 0px 0px 4px black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    max-width: 10em;
    padding: 0.2em 1.4em 0.2em 0.7em;
    font-size: .9em;
    border-top-left-radius: 1.4em;
    border-bottom-left-radius: 1.4em;
    border-top-right-radius: .5em;
    border-bottom-right-radius: .5em;
    margin-right: -1em;
    color: inherit;
    z-index: 1;
}

.layerIcon{
    cursor: pointer;
    width: 3.5em;
    height: 3.5em;
    border-radius: 3.5em;
    box-shadow: 0 0 10px 0 black;
    background-color: transparent;
    cursor:pointer;
    z-index: 1;
    text-align: center;
    position: relative;
    z-index: 1;
}

#wfigs-icon{
    background-image: url('./flame.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60px;
}

#viirs-icon{
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60px;
}

#fl-conserve-icon{
    background-color: red;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 60px;
}